<ion-view class="homepage" view-title="Solidcore">
  <ion-content class="padding">
    <!-- <input type="text" ng-model="user.name">
    <input type="text" ng-model="user.address">
    <button type="button" ng-click="add(user)">data</button>
    <button type="button" ng-click="getData()">render data</button>
    <button type="button" ng-click="deleteData()">render data</button>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
      <tr ng-repeat="item in items">
        <th>{{item.id}}</th>
        <th>{{item.name}}</th>
        <th>{{item.address}}</th>
      </tr>
    </table> -->
  </ion-content>
</ion-view>
