<ion-view view-title="Search User">
  <ion-content>
 <br><br><br>
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
    <div id = "fb-root"></div>
    <ion-list>
      <button class = "button" ng-click = "loginFacebook()">LOG IN</button>
      <button class = "button" ng-click = "logoutFacebook()">LOG OUT</button>
      <button class = "button" ng-click = "checkLoginStatus()">CHECK</button>
      <button class = "button" ng-click = "facebookAPI()">API</button>
<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

    </ion-list>
  </ion-content>
  
</ion-view>